@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("/pexels-steve-1509534.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}